<footer>
    <div class="relative bg-[#ffff] md:col-span-2 rounded-[20px] rounded-t-[40px] -mt-20 text-black h-full">

    
    
      <div class="">

        <div class="container3">
          <div class="marquee2">
              <div class="marquee__row2">
                  <div class="marquee__item2">
                      <p class="marquee__text2">Start building software</p>
                  </div>
                  <span class="marquee__separator2"><img src="./images/footer-text-slider-icon.svg" alt="" class=" h-5 md:h-[60px] w-[60px]"></span>
                  <div class="marquee__item2">
                      <p class="marquee__text2">Start building software</p>
                  </div>
                  <span class="marquee__separator2"><img src="./images/footer-text-slider-icon.svg" alt="" class=" h-5 md:h-[60px] w-[60px]"></span>
                  <div class="marquee__item2">
                      <p class="marquee__text2">Start building software</p>
                  </div>
                  <span class="marquee__separator2"><img src="./images/footer-text-slider-icon.svg" alt="" class=" w-5 h-5 md:h-[60px] md:w-[60px]"></span>
              </div>
              <div aria-hidden="true"
                   class="marquee__row">
                  <div class="marquee__item2">
                      <p class="marquee__text2">Start building software</p>
                  </div>
                  <span class="marquee__separator2"><img src="./images/footer-text-slider-icon.svg" alt="" class=" w-5 h-5 md:h-[60px] md:w-[60px]"></span>
                  <div class="marquee__item2">
                      <p class="marquee__text2">Start building software</p>
                  </div>
                  <span class="marquee__separator2"><img src="./images/footer-text-slider-icon.svg" alt="" class=" w-5 h-5 md:h-[60px] md:w-[60px]"></span>
                  <div class="marquee__item2">
                      <p class="marquee__text2">Start building software</p>
                  </div>
                  <span class="marquee__separator2"><img src="./images/footer-text-slider-icon.svg" alt="" class=" w-5 h-5 md:h-[60px] md:w-[60px]"></span>
              </div>
          </div>
      </div>
      </div>




        

      <div class="px-5">

        <div class=" grid grid-cols-1 md:grid-cols-5  gap-x-10 border-b border-gray-500 ">

          <div class=" md:col-span-2 pb-3 ">
            <a href="#"><img src="/azzle/images/logo.png" alt="" class="pt-5"></a>
            <p class="pt-5 md:pt-6 text-[14px]">
              Our mission is to harness the power of AI to solve complex business challenges & decision-makers with
              data-driven insights, and enhance user experiences across digital platforms.
            </p>
            <a href="#">
              <p class="pt-5 text-[14px]">Website: www.example.com</p>
            </a>
          </div>

          <div>
            <h3 class="text-[18px] md:text-[15px] font-bold mt-5 md:mt-none">Primary</h3>
            <ul class=" pt-2 ">
              <a href="#" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]">Home</li>
              </a>
              <a href="/azzle/about.html" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]" >About Us</li>
              </a>
              <a href="/azzle/services.html" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]">Services</li>
              </a>
              <a href="#" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]">Pricing</li>
              </a>
              <a href="#" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]">Contact</li>
              </a>
            </ul>
          </div>

          <div>
            <h3 class="text-[18px] md:text-[15px] font-bold mt-5 md:mt-none">Utility Pages</h3>
            <ul class="pt-2 ">
              <a href="#" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]">Sign up</li>
              </a>
              <a href="#" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]">Login</li>
              </a>
              <a href="#" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]">404 Not Found</li>
              </a>
              <a href="#" class="hover:text-[#fe330a] transition-all duration-300 ease-in-out">
                <li class="text-[14px]">Password Reset</li>
              </a>
            </ul>
          </div>

          <div>
            <h3 class="text-[18px] md:text-[15px] font-bold mt-5 md:mt-none">Subscribe to our newsletter</h3>

            <div
              class=" flex justify-around rounded-[20px] border-black border-[1px] py-2 px-1  w-[250px] md:w-[200px] mb-20 mt-5 overflow-hidden">
              <input type="text" placeholder="enter your email"
                class="md:text-[10.5px] text-[18px]   focus:outline-none pl-1">
              <button>
                <img src="./images/arrow-right-large (1).svg" alt="" class="bg-black px-2 rounded-[20px] hover:bg-[#fe330a] transition-all">
              </button>
            </div>

          </div>


        </div>

        <div class="text-center ">
          <p class="text-[14px]">© Copyright 2023, All Rights Reserved by Mthemeus</p>
        </div>
      </div>


  </footer>